
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav {
  background-color: $maincolor ;
}

.container{
  padding-top:100px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.product-card{
  background-color: $maincolor;
  margin-bottom: 20px;
  img{
    object-fit: cover;
    width:360px;
    height:300px;
  }
  .btn{
    margin-left: 10px;
  }
}

.product-small-img {
  width:100px;
  max-width:100px;
}

.btn-form {
  margin-top:20px;
}

.btn-index {
  margin-top:50px;
}
